In [13]:
# INSTALACION DE PYCARET - INSTALAR EN EL TERMINAL
# pip intall pycaret (en terminal)
# pipline del modelo (8 pasos)
#1. Setup(): Definir el dataset y parámetros
#2. Compare_models(): Comparar multiples modelos y los rankear
#3. Create model(): Crear un modelo específico
#4. Tune_model(): Ajuste automático de hiperparámetros
#5. plot_model(): visualizar el desempeño del modelo
#6. Evaluate_model(): Evaluación del modelo
#7. Predict_model(): Predicciones sobre nuevos datos en el DF
#8. Save_model/load_model(): Guardar y cargar el modelo

In [14]:
# CASO DE PREDICCION DE PRECIOS EN DEPARTAMENTOS DE LIMA
# OBJETIVO: CONSTRUIR ML CON PYCARET PARA PREDECIR EL PRECIO DE LOS DEPARTMENTOS

In [15]:
import pandas as pd
from pycaret.classification  import *

In [16]:
#1. CARGAR LA DATA 
df= pd.read_csv(r"ds_credito_vehicular.csv")

In [17]:
import os
print(os.getcwd())

c:\Users\Jessica\Desktop\Documentos\Curso DMC\3. ML Engineer\Material sesión 03-20250930\PRUEBA_ML\DMC_MLE_G8

In [18]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [19]:
print(df['estado_civil'].value_counts())
print(df['historia_credito'].value_counts())
print(df['vehiculo_propio'].value_counts())

estado_civil
Casado        55
Soltero       49
Divorciado    46
Name: count, dtype: int64
historia_credito
Buena      88
Regular    44
Mala       18
Name: count, dtype: int64
vehiculo_propio
1    92
0    58
Name: count, dtype: int64

In [20]:
df['default'].value_counts()
# Comentario: Hay desbalance de clase

default
0    125
1     25
Name: count, dtype: int64

In [12]:
#1. Setup(): Definir el dataset y parámetros
reg=setup(data=df,target='default',session_id=123,categorical_features=['estado_civil','historia_credito','vehiculo_propio'])

In [14]:
#2. Compare_models(): Comparar multiples modelos y los rankear
best_model = compare_models()

In [9]:
lr=create_model('lr')

In [10]:
#4. Tune_model(): Ajuste automático de hiperparámetros
tuned_lr = tune_model(lr)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [ ]:
#5. plot_model(): visualizar el desempeño del modelo
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [13]:
preds=predict_model(tuned_lr)
print(preds.head())

    area_m2  num_habitaciones  num_banos    distrito  antiguedad_anos  \
8        87                 2          2  San Isidro               19
70      100                 4          2  Miraflores                5
82       31                 1          1       Surco               14
28       97                 3          2       Surco               12
63      130                 1          1       Surco                0

    vista_mar         precio  prediction_label
8           0  242334.515625     229980.233894
70          1  300367.437500     323149.386211
82          1  122736.742188      96058.098024
28          1  315150.500000     298969.196595
63          1  364217.593750     361290.005458

In [14]:
#8. Save_model/load_model(): Guardar y cargar el modelo
save_model(tuned_lr,'modelo_precio_final')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['area_m2', 'num_habitaciones',
                                              'num_banos', 'antiguedad_anos',
                                              'vista_mar'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['distrito'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['distrito'],
                                     transformer=OneHotEncoder(cols=['distrito'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model', LinearRegression(n_jobs=-1))]),
 'modelo_precio_final.pkl')

In [ ]:
##CONCLUSIONES
#1. EN PROMEDIO, EL MODELO SE EQUIVOCA EN UN 5.76% DEL PRECIO REAL
#2. EL MODELO EXPLICA EL 97% DE LA VARIANZA DEL PRECIO
#3. ERROR LOGARITMICO (0.08) ES BAJO, BUEN PERFORMANCE EN ESCALAS GRANDES
#4. EL FEATURE MAS IMPORTANTE ES EL AREAM2
##CONCLUSION EL MODELO TIENE MUY BUEN AJUSTE GLOBAL. ES EXPLICATIVO (R2 ALTO) Y PRECISO (MAPE PEQUEÑO)