In [1]:
# INSTALACION DE PYCARET - INSTALAR EN EL TERMINAL
# pip intall pycaret (en terminal)
# pipline del modelo (8 pasos)
#1. Setup(): Definir el dataset y parámetros
#2. Compare_models(): Comparar multiples modelos y los rankear
#3. Create model(): Crear un modelo específico
#4. Tune_model(): Ajuste automático de hiperparámetros
#5. plot_model(): visualizar el desempeño del modelo
#6. Evaluate_model(): Evaluación del modelo
#7. Predict_model(): Predicciones sobre nuevos datos en el DF
#8. Save_model/load_model(): Guardar y cargar el modelo

In [2]:
# CASO DE PREDICCION DE PRECIOS EN DEPARTAMENTOS DE LIMA
# OBJETIVO: CONSTRUIR ML CON PYCARET PARA PREDECIR EL PRECIO DE LOS DEPARTMENTOS

In [3]:
import pandas as pd
from pycaret.classification  import *

In [4]:
#1. CARGAR LA DATA 
df= pd.read_csv(r"ds_credito_vehicular.csv")

In [5]:
import os
print(os.getcwd())

c:\Users\Jessica\Desktop\Documentos\Curso DMC\3. ML Engineer\Material sesión 03-20250930\PRUEBA_ML\DMC_MLE_G8

In [6]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [7]:
print(df['estado_civil'].value_counts())
print(df['historia_credito'].value_counts())
print(df['vehiculo_propio'].value_counts())

estado_civil
Casado        55
Soltero       49
Divorciado    46
Name: count, dtype: int64
historia_credito
Buena      88
Regular    44
Mala       18
Name: count, dtype: int64
vehiculo_propio
1    92
0    58
Name: count, dtype: int64

In [8]:
df['default'].value_counts()
# Comentario: Hay desbalance de clase

default
0    125
1     25
Name: count, dtype: int64

In [15]:
#1. Setup(): Definir el dataset y parámetros
reg=setup(data=df,target='default',session_id=123,normalize=True,fix_imbalance=True,categorical_features=['estado_civil','historia_credito','vehiculo_propio'])

# COMENTARIO: fix_imbalance=True (SMOT POR DEFECTO)
# normalize=True (Normaliza las variables numéricas (a veces útil para modelos como KNN o SVM).)

In [26]:
print(get_config('X_train').shape)
print(get_config('y_train').value_counts())

(105, 7)
default
0    87
1    18
Name: count, dtype: int64

In [17]:
#2. Compare_models(): Comparar multiples modelos y los rankear
best_model = compare_models()

In [ ]:
#Recall -Qué tanto detecta la clase positiva (minoritaria)
#Precision Cuántos de los predichos positivos eran correctos

In [20]:
lr=create_model('lr')

In [21]:
#4. Tune_model(): Ajuste automático de hiperparámetros
tuned_lr = tune_model(lr,optimize='F1')

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [22]:
#5. plot_model(): visualizar el desempeño del modelo
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [23]:
preds=predict_model(tuned_lr)
print(preds.head())

     edad  ingresos_mensuales estado_civil historia_credito  \
57     60                4457       Casado            Buena
98     55                2147       Casado            Buena
54     34                5659      Soltero          Regular
92     64                2930       Casado            Buena
137    33                4643       Casado            Buena

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
57                      3              0.32                0        0
98                      2              0.25                1        0
54                      3              0.32                0        0
92                      2              0.31                1        0
137                     0              0.69                0        1

     prediction_label  prediction_score
57                  0            0.7036
98                  0            0.8340
54                  0            0.6995
92                  0            0.6761
137                 0            0.5518

In [27]:
preds.shape[0]

45

In [24]:
#8. Save_model/load_model(): Guardar y cargar el modelo
save_model(tuned_lr,'modelo_final_ejercicio_2')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['edad', 'ingresos_mensuales',
                                              'nro_creditos_previos',
                                              'cuota_vs_ingreso'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWr...
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=StandardScaler(copy=True,
                                                                with_mean=True,
                                                                with_std=True))),
                 ('trained_model',
                  LogisticRegression(C=2.833, class_weight='balanced',
                                     dual=False, fit_intercept=True,
                                     intercept_scaling=1, l1_ratio=None,
                                     max_iter=1000, multi_class='auto',
                                     n_jobs=None, penalty='l2', random_state=123,
                                     solver='lbfgs', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 'modelo_final_ejercicio_2.pkl')

In [ ]:
##CONCLUSIONES
# CONCLUSIONES
# 1. En el comparativo de modelos: La mejor elección es la regresión logística y/o SMV, 
# debido a que los indicadores que se observar en problemas de clasificación es del AUC,RECALL, 
# PRECISION ó F1. En ese sentido, el mayor valor se presenta en estos dos modelos mencionados.

# 2. Se aplico el tunning, optimizando el F1 y se obtiene un ligera mejora. 
# 3. Las variable de mayor importanci es la edad.